[submodule "sub/documenter"]
	path = sub/documenter
	url = https://github.com/squared-studio/documenter.git
[submodule "sub/sv-genesis"]
	path = sub/sv-genesis
	url = https://github.com/squared-studio/sv-genesis.git
[submodule "sub/RISC-V-MODEL"]
	path = sub/RISC-V-MODEL
	url = https://github.com/squared-studio/RISC-V-MODEL.git
[submodule "sub/sv-common"]
	path = sub/sv-common
	url = https://github.com/squared-studio/sv-common.git
[submodule "sub/RISC-V-TESTS"]
	path = sub/RISC-V-TESTS
	url = https://github.com/squared-studio/RISC-V-TESTS
